.header {
  position: sticky;
  top: 0;
  background-color: var(--black);
  color: white;
  padding: 24px 0px;
  z-index: 100;
  transition: transform .4s ease;
  &._hide {
    transform: translateY(-130px);
  }

  @include tablet {
    padding: 18px 0px;
  }
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 1fr;
    gap: 30px;
    @include laptop-min {
      @include flex-between;
    }
  }
  &__nav {
    @include laptop-min {
      display: none;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    @include laptop {
      gap: 20px;
    }

    a {
      font-size: 18px;
      font-weight: 300;
      line-height: 140%;
      opacity: 0.5;
      transition: opacity 0.2s ease;
      @include hover {
        opacity: 1;
      }
      @include laptop {
        font-size: 16px;
      }
    }
  }
  &__logo {
    display: block;
    width: 240px;
    margin: 0 auto;
    transform: translateX(-40px);
    @include laptop {
      transform: translateX(0);
      width: 200px;
    }
    @include tablet-min {
      width: 160px;
    }

    img {
      width: 100%;
      display: block;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    @include desktop {
      gap: 30px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__social {
    display: flex;
    gap: 20px;
    @include laptop-middle {
      display: none;
    }
  }
  &__social-btn {
    @include flex-center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--thunder);

    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    @include hover {
      color: var(--thunder);
      background-color: white;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__contacts-main {
    display: flex;
    align-items: end;
    flex-direction: column;
  }
  &__contacts-tel {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }
    @include laptop {
      font-size: 20px;
    }
  }
  &__address {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    opacity: 0.5;
    text-align: right;
  }
  &__burger-btn {
    display: none;
    width: 32px;
    height: 30px;
    @include laptop-min {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
    }

    div {
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }
  &__submenu {
    padding: 20px 0px;
    background-color: var(--thunder);
    color: white;
    @include laptop-min {
      display: none;
    }
  }
  &__submenu-list {
    @include flex-center;
    flex-wrap: wrap;
    gap: 70px;
    row-gap: 25px;
    @include laptop {
      gap: 40px;
      row-gap: 25px;
    }

    li {
      position: relative;
      @include hover {
        ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
      ul {
        width: max-content;
        position: absolute;
        margin: 0;
        list-style: none;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 15px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        background-color: white;

        z-index: 20;

        color: black;
        transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 300;
      line-height: 140%;
      transition: opacity .2s ease;
      @include hover {
        opacity: 0.5;

        svg {
          transform: rotate(180deg);
        }
      }
      @include laptop-middle {
        font-size: 16px;
      }

      svg {
        width: 13px;
        height: 13px;
        transition: transform .2s ease;
      }
    }
  }
}
