.s-catalog {
  position: relative;
  background-color: var(--thunder);
  color: white;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width: 545px;
    clip-path: polygon(35% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--red);
    z-index: -1;
    @include tablet {
      width: 50%;
    }
    @include mobile {
      width: 80%;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include laptop {
      gap: 30px;
    }
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: end;
    border-radius: 4px;
    background-color: white;
    color: var(--black);
    min-height: 260px;
    z-index: 1;
    transition: color .2s ease, background-color .2s ease;

    @include hover {
      color: white;
      .s-catalog__item-rect svg {
        transform: rotate(45deg)
      }
      .s-catalog__item-img {
        opacity: 1
      }
    }
    @include laptop-min {
      min-height: 200px;
    }
    @include tablet {
      grid-column: 2 span;
    }
  }
  &__item-rect {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    background-color: white;
    color: var(--black);

    svg {
      width: 16px;
      height: 16px;
      transition: transform 0.2s ease;
    }
  }
  &__item-body {
    padding: 40px;
    @include laptop {
      padding: 20px;
    }
  }
  &__item-title {
    margin: 0px 0px 10px 0px;
  }
  &__item-descr {
    font-size: 18px;
    line-height: 140%;
  }
  &__item-img {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    object-fit: cover;
    border-radius: 4px;
    filter: brightness(50%);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease;
  }
}
