.s-jobs {
  margin-top: 50px;
  @include tablet {
    margin-top: 30px;
  }
  &__body {
    padding: 70px 0px 100px 0px;
    background-color: white;
    @include laptop-min {
      padding: 60px 0px 80px 0px;
    }
    @include tablet {
      padding: 50px 0px;
    }
  }
  &__container {
    display: flex;
    align-items: start;
    gap: 60px;
    @include laptop {
      gap: 40px;
    }
    @include laptop-middle {
      flex-wrap: wrap;
    }
  }
  &__main {
    flex: 1;
    @include laptop-middle {
      flex: none;
      width: 100%;
    }
  }
  &__spoller {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__spoller-btn {
    @include flex-between;
    gap: 10px;
    padding: 16px 28px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--light);

    font-size: 18px;
    line-height: 140%;

    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 16px;
      height: 16px;
      transition: transform 0.2s ease;
    }
  }
  &__spoller-body {
    padding: 40px;
    border-radius: 4px;
    border: 2px solid var(--light);
    @include laptop {
      padding: 25px;
    }
    @include mobile {
      padding: 15px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    row-gap: 20px;
    @include laptop {
      gap: 25px;
      row-gap: 20px;
    }
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px
    }
  }
  &__item {
    @include flex-between;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;

    padding-bottom: 20px;
    border-bottom: 1px solid var(--gallery);

    @include tablet {
      font-size: 16px;
      padding-bottom: 15px;
    }

    span {
      &:first-child {
        opacity: 0.5;
      }
    }
  }
  &__spoller-content {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;

    @include laptop-middle {
      margin-top: 25px;
    }
    @include tablet {
      font-size: 16px;
    }

    strong {
      font-weight: 700;
    }
    p {
      margin: 0;
    }
  }
  &__form-wrapper {
    position: sticky;
    top: 20px;
    width: 500px;
    padding: 40px;
    background-color: var(--red);
    color: white;
    border-radius: 4px;
    flex-shrink: 0;
    @include laptop {
      width: 400px;
      padding: 25px;
    }
    @include laptop-middle { 
      position: static;
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
    }
    @include mobile {
      padding: 25px 15px;
    }
  }
  &__form-title {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
    padding-left: 35px;
    background: url("@img/figure-black.svg") top 0 left 0 / 20px auto no-repeat;
    margin: 0px 0px 20px 0px;
    @include tablet {
      font-size: 24px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__form-item {
    width: 100%;
  }
  &__form-policy {
    margin: 16px 0px 0px 0px;
    font-size: 15px;
    line-height: 140%;

    a {
      font-weight: 700;
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
