.s-offer {
  position: relative;
  overflow: hidden;
  background-color: var(--thunder);
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    width: 55%;
    top: 0;
    clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--red);
    z-index: -1;
    @include tablet {
      width: 80%;
    }
  }
  &__slider {
    @include laptop {
      overflow: visible !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
    padding: 50px;
    border-radius: 4px;
    background-color: white;
    height: auto !important;
    transition: color .2s ease, background-color .2s ease;
    @include hover {
      color: white;
      background-color: var(--thunder);

      .s-offer__item-rect {
        color: var(--thunder);
        background-color: white;
      }
    }
    @include desktop {
      padding: 35px;
    }
    @include laptop {
      width: 425px !important;
    }
    @include tablet {
      width: 340px !important;
      padding: 25px;
    }
  }
  &__item-body {
    flex: 1;
  }
  &__item-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin: 0px 0px 20px 0px;
    @include tablet {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &__item-price {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    @include tablet {
      font-size: 16px;
    }
  }
  &__item-rect {
    @include flex-center;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    color: white;
    background-color: var(--black);

    transition: color .2s ease, background-color .2s ease;

    @include tablet {
      width: 48px;
      height: 48px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
