.s-process {
  background-color: white;
  overflow: hidden;
  &__slider {
    overflow: visible;
  }
  &__slide {
    overflow: hidden;
    width: 430px !important;
    height: 430px !important;
    opacity: 0.5;
    transition: opacity .2s ease;

    @include hover {
      img {
        transform: scale(1.1);
      }
    }
    &.swiper-slide-prev, &.swiper-slide-active, &.swiper-slide-next {
      opacity: 1;
    }
    @include laptop-middle {
      width: 380px !important;
      height: 380px !important;
      &.swiper-slide-prev, &.swiper-slide-next {
        opacity: 0.5;
      }
    }
    @include laptop-min {
      width: 320px !important;
      height: 320px !important;
    }
    @include tablet {
      width: 280px !important;
      height: 280px !important;
    }
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
  }
}