<section class="s-adv sect-m">
  <div class="container s-adv__container">
    <h2 class="s-adv__title s-title">
      Преимущества <br />
      Тимер Альянс
    </h2>
  </div>
  <div class="s-adv__body">
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Работа с организациями</h5>
        <p class="s-adv__item-content">
          Идейные соображения высшего порядка, а также консультация с широким
          активом в значительной степени обуславливает создание
        </p>
      </div>
    </div>
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Быстрый анализ</h5>
        <p class="s-adv__item-content">
          Равным образом новая модель организационной деятельности требуют
        </p>
      </div>
    </div>
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Собственный транспорт</h5>
        <p class="s-adv__item-content">
          Значимость этих проблем настолько очевидна, что укрепление и
          развитие структуры представляет собой
        </p>
      </div>
    </div>
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Работа с организациями</h5>
        <p class="s-adv__item-content">
          Идейные соображения высшего порядка, а также консультация с широким
          активом в значительной степени обуславливает создание
        </p>
      </div>
    </div>
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Быстрый анализ</h5>
        <p class="s-adv__item-content">
          Равным образом новая модель организационной деятельности требуют
        </p>
      </div>
    </div>
    <div class="s-adv__item">
      <img src="@img/adv.svg" alt="icon" class="s-adv__item-icon" />
      <div>
        <h5 class="s-adv__item-title">Собственный транспорт</h5>
        <p class="s-adv__item-content">
          Значимость этих проблем настолько очевидна, что укрепление и
          развитие структуры представляет собой
        </p>
      </div>
    </div>
  </div>
  <img src="@img/adv-img.jpg" alt="image" class="s-adv__img">
</section>
