<section class="s-catalog sect-p">
  <div class="container">
    <h2 class="s-title">Какие черные металлы мы принимаем</h2>
    <div class="s-catalog__wrapper">
      <a href="#" class="s-catalog__item">
        <div class="s-catalog__item-rect">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <div class="s-catalog__item-body">
          <h3 class="t-title s-catalog__item-title">Лом 3А</h3>
          <div class="s-catalog__item-descr">16 000 рублей за 1 т</div>
        </div>
        <img
          src="@img/catalog-img.jpg"
          alt="image"
          class="s-catalog__item-img"
        />
      </a>
      <a href="#" class="s-catalog__item">
        <div class="s-catalog__item-rect">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <div class="s-catalog__item-body">
          <h3 class="t-title s-catalog__item-title">Лом 3А</h3>
          <div class="s-catalog__item-descr">16 000 рублей за 1 т</div>
        </div>
        <img
          src="@img/catalog-img.jpg"
          alt="image"
          class="s-catalog__item-img"
        />
      </a>
      <a href="#" class="s-catalog__item">
        <div class="s-catalog__item-rect">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <div class="s-catalog__item-body">
          <h3 class="t-title s-catalog__item-title">Лом 3А</h3>
          <div class="s-catalog__item-descr">16 000 рублей за 1 т</div>
        </div>
        <img
          src="@img/catalog-img.jpg"
          alt="image"
          class="s-catalog__item-img"
        />
      </a>
      <a href="#" class="s-catalog__item">
        <div class="s-catalog__item-rect">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <div class="s-catalog__item-body">
          <h3 class="t-title s-catalog__item-title">Лом 3А</h3>
          <div class="s-catalog__item-descr">16 000 рублей за 1 т</div>
        </div>
        <img
          src="@img/catalog-img.jpg"
          alt="image"
          class="s-catalog__item-img"
        />
      </a>
      <a href="#" class="s-catalog__item">
        <div class="s-catalog__item-rect">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <div class="s-catalog__item-body">
          <h3 class="t-title s-catalog__item-title">Лом 3А</h3>
          <div class="s-catalog__item-descr">16 000 рублей за 1 т</div>
        </div>
        <img
          src="@img/catalog-img.jpg"
          alt="image"
          class="s-catalog__item-img"
        />
      </a>
    </div>
  </div>
</section>
