<section class="s-contacts-info sect-m">
  <div class="container s-contacts-info__container">
    <div class="s-contacts-info__body">
      <h2 class="s-title">Контакты</h2>
      <ul class="list s-contacts-info__social">
        <li>
          <a href="#" target="_blank" class="btn-rect _red">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn-rect _red">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel:+78432126222" class="s-contacts-info__tel">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-tel"></use>
        </svg>
        <span>+7 (843) 212-62-22</span>
      </a>
      <ul class="list s-contacts-info__list">
        <li>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <span
            >г. Казань, <br />
            ул. Хлебозаводская, д. 7В</span
          >
        </li>
        <li>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:priem_loma_kzn@mail.ru"
            >priem_loma_kzn@mail.ru</a
          >
        </li>
        <li>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-clock"></use>
          </svg>
          <span
            >График работы: <br />
            с 9:00 до 21:00 ежедневно <br />
            Звонки принимаем круглосуточно!</span
          >
        </li>
      </ul>
      <a href="#" class="btn-arrow s-contacts-info__btn _black-rect">
        <span>Проложить маршрут</span>
        <div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="s-contacts-info__gallery">
      <div class="swiper s-contacts-info__slider">
        <button class="btn-reset s-contacts-info__slider-btn _prev">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-w'></use>
          </svg>
        </button>
        <button class="btn-reset s-contacts-info__slider-btn _next">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-w'></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <a href="@img/contacts-info.jpg" data-fancybox="contacts-gallery" class="swiper-slide s-contacts-info__slide">
            <img src="@img/contacts-info.jpg" alt="image" class="s-contacts-info__slide-img">
          </a>
          <a href="@img/contacts-info.jpg" data-fancybox="contacts-gallery" class="swiper-slide s-contacts-info__slide">
            <img src="@img/contacts-info.jpg" alt="image" class="s-contacts-info__slide-img">
          </a>
          <a href="@img/contacts-info.jpg" data-fancybox="contacts-gallery" class="swiper-slide s-contacts-info__slide">
            <img src="@img/contacts-info.jpg" alt="image" class="s-contacts-info__slide-img">
          </a>
          <a href="@img/contacts-info.jpg" data-fancybox="contacts-gallery" class="swiper-slide s-contacts-info__slide">
            <img src="@img/contacts-info.jpg" alt="image" class="s-contacts-info__slide-img">
          </a>
          <a href="@img/contacts-info.jpg" data-fancybox="contacts-gallery" class="swiper-slide s-contacts-info__slide">
            <img src="@img/contacts-info.jpg" alt="image" class="s-contacts-info__slide-img">
          </a>
        </div>
      </div>
      <div class="swiper s-contacts-info__thumb-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-contacts-info__thumb-slide" style="background: url('@img/contacts-info.jpg') 0 0 / cover no-repeat;"></div>
          <div class="swiper-slide s-contacts-info__thumb-slide" style="background: url('@img/contacts-info.jpg') 0 0 / cover no-repeat;"></div>
          <div class="swiper-slide s-contacts-info__thumb-slide" style="background: url('@img/contacts-info.jpg') 0 0 / cover no-repeat;"></div>
          <div class="swiper-slide s-contacts-info__thumb-slide" style="background: url('@img/contacts-info.jpg') 0 0 / cover no-repeat;"></div>
          <div class="swiper-slide s-contacts-info__thumb-slide" style="background: url('@img/contacts-info.jpg') 0 0 / cover no-repeat;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
