<section class="s-jobs">
  <div class="container">
    <h1 class="main-title">Вакансии</h1>
  </div>
  <div class="s-jobs__body">
    <div class="container s-jobs__container">
      <div data-spollers class="s-jobs__main">
        <div class="s-jobs__spoller">
          <button data-spoller class="btn-reset s-jobs__spoller-btn">
            <span>Мастер-приемщик</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div>
            <div class="s-jobs__spoller-body">
              <ul class="list s-jobs__list">
                <li class="s-jobs__item">
                  <span>Зарплата:</span>
                  <span>100 000 - 130 000 ₽ в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>График:</span>
                  <span>5/2</span>
                </li>
                <li class="s-jobs__item">
                  <span>Выплаты:</span>
                  <span>два раза в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>Рабочие часы:</span>
                  <span>8</span>
                </li>
                <li class="s-jobs__item">
                  <span>Опыт работы:</span>
                  <span>3–6 лет</span>
                </li>
                <li class="s-jobs__item">
                  <span>Занятость:</span>
                  <span>Полная</span>
                </li>
              </ul>
              <div class="s-jobs__spoller-content">
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
                <br />
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
              </div>
              <button
                data-src="#modal-job"
                data-fancybox
                data-job-btn="Мастер-приемщик"
                class="button s-jobs__btn-respond"
              >
                Откликнуться
              </button>
            </div>
          </div>
        </div>
        <div class="s-jobs__spoller">
          <button data-spoller class="btn-reset s-jobs__spoller-btn">
            <span>Мастер-приемщик 2</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div>
            <div class="s-jobs__spoller-body">
              <ul class="list s-jobs__list">
                <li class="s-jobs__item">
                  <span>Зарплата:</span>
                  <span>100 000 - 130 000 ₽ в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>График:</span>
                  <span>5/2</span>
                </li>
                <li class="s-jobs__item">
                  <span>Выплаты:</span>
                  <span>два раза в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>Рабочие часы:</span>
                  <span>8</span>
                </li>
                <li class="s-jobs__item">
                  <span>Опыт работы:</span>
                  <span>3–6 лет</span>
                </li>
                <li class="s-jobs__item">
                  <span>Занятость:</span>
                  <span>Полная</span>
                </li>
              </ul>
              <div class="s-jobs__spoller-content">
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
                <br />
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
              </div>
              <button
                data-src="#modal-job"
                data-fancybox
                data-job-btn="Мастер-приемщик 2"
                class="button s-jobs__btn-respond"
              >
                Откликнуться
              </button>
            </div>
          </div>
        </div>
        <div class="s-jobs__spoller">
          <button data-spoller class="btn-reset s-jobs__spoller-btn">
            <span>Мастер-приемщик</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div>
            <div class="s-jobs__spoller-body">
              <ul class="list s-jobs__list">
                <li class="s-jobs__item">
                  <span>Зарплата:</span>
                  <span>100 000 - 130 000 ₽ в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>График:</span>
                  <span>5/2</span>
                </li>
                <li class="s-jobs__item">
                  <span>Выплаты:</span>
                  <span>два раза в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>Рабочие часы:</span>
                  <span>8</span>
                </li>
                <li class="s-jobs__item">
                  <span>Опыт работы:</span>
                  <span>3–6 лет</span>
                </li>
                <li class="s-jobs__item">
                  <span>Занятость:</span>
                  <span>Полная</span>
                </li>
              </ul>
              <div class="s-jobs__spoller-content">
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
                <br />
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
              </div>
              <button
                data-src="#modal-job"
                data-fancybox
                data-job-btn="Мастер-приемщик"
                class="button s-jobs__btn-respond"
              >
                Откликнуться
              </button>
            </div>
          </div>
        </div>
        <div class="s-jobs__spoller">
          <button data-spoller class="btn-reset s-jobs__spoller-btn">
            <span>Мастер-приемщик 2</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div>
            <div class="s-jobs__spoller-body">
              <ul class="list s-jobs__list">
                <li class="s-jobs__item">
                  <span>Зарплата:</span>
                  <span>100 000 - 130 000 ₽ в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>График:</span>
                  <span>5/2</span>
                </li>
                <li class="s-jobs__item">
                  <span>Выплаты:</span>
                  <span>два раза в месяц</span>
                </li>
                <li class="s-jobs__item">
                  <span>Рабочие часы:</span>
                  <span>8</span>
                </li>
                <li class="s-jobs__item">
                  <span>Опыт работы:</span>
                  <span>3–6 лет</span>
                </li>
                <li class="s-jobs__item">
                  <span>Занятость:</span>
                  <span>Полная</span>
                </li>
              </ul>
              <div class="s-jobs__spoller-content">
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
                <br />
                <p><strong>Обязанности:</strong></p>
                <p>
                  - приём автомобилей на техническое обслуживание; <br />
                  - прием автомобилей на гарантийный ремонт; <br />
                  - консультирование клиентов по техническим вопросам; <br />
                  - первичная диагностика поломок; - согласование стоимости и
                  объема ремонтных работ; <br />
                  - дополнительные продажи услуг сервиса; <br />
                  - оформление необходимой документации (акты выполненных работ,
                  счета и т.д.); <br />
                  - отслеживание статуса заказов клиентов, информирование
                  клиентов о сроках ремонта, контроль выполнения работ.
                </p>
              </div>
              <button
                data-src="#modal-job"
                data-fancybox
                data-job-btn="Мастер-приемщик 2"
                class="button s-jobs__btn-respond"
              >
                Откликнуться
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="s-jobs__form-wrapper">
        <h3 class="s-jobs__form-title">Не нашли подходящую вакансию?</h3>
        <form action="#" class="s-jobs__form">
          <div class="s-jobs__form-item">
            <input type="text" placeholder="Имя" class="input _white" />
          </div>
          <div class="s-jobs__form-item">
            <input type="tel" placeholder="Телефон" class="input _white" />
          </div>
          <div class="s-jobs__form-item">
            <input type="email" placeholder="E-mail" class="input _white" />
          </div>
          <div class="s-jobs__form-item">
            <input type="file" id="resume" class="input-file" />
            <label for="resume" class="label-file _white">
              <span>Прикрепите резюме</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-plus"></use>
              </svg>
            </label>
          </div>
          <button class="button">Отправить</button>
        </form>
        <p class="s-jobs__form-policy">
          Нажимая “Отправить”, вы соглашаетесь с
          <a href="#">Политикой конфиденциальности</a>
        </p>
      </div>
    </div>
  </div>
</section>
