<section class="s-offer sect-p">
  <div class="container">
    <div class="swiper s-offer__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide s-offer__item">
          <div class="s-offer__item-body">
            <h5 class="s-offer__item-title">Черный лом</h5>
            <div class="s-offer__item-price">от 700 рублей за 1 кг</div>
          </div>
          <div class="s-offer__item-rect">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="swiper-slide s-offer__item">
          <div class="s-offer__item-body">
            <h5 class="s-offer__item-title">Цветной лом</h5>
            <div class="s-offer__item-price">от 700 рублей за 1 кг</div>
          </div>
          <div class="s-offer__item-rect">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="swiper-slide s-offer__item">
          <div class="s-offer__item-body">
            <h5 class="s-offer__item-title">Обработка лома</h5>
            <div class="s-offer__item-price">от 700 рублей за 1 кг</div>
          </div>
          <div class="s-offer__item-rect">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
