<section class="s-service-price sect-m">
  <div class="container">
    <h2 class="s-title">Сколько стоит демонтаж металлолома в Казани</h2>
    <ul class="list price-list">
      <li class="price-list__item">
        <span>Лом 3А</span>
        <span>16000</span>
      </li>
      <li class="price-list__item">
        <span>Лом 3А</span>
        <span>16000</span>
      </li>
      <li class="price-list__item">
        <span>Лом 3А</span>
        <span>16000</span>
      </li>
      <li class="price-list__item">
        <span>Лом 3А</span>
        <span>16000</span>
      </li>
      <li class="price-list__item">
        <span>Лом 3А</span>
        <span>16000</span>
      </li>
    </ul>
    <div class="communication">
      <h3 class="communication__title">Свяжитесь с нами</h3>
      <div class="communication__body">
        <div class="communication__item">
          <div class="communication__item-num">[1]</div>
          <div class="communication__item-body">
            <div class="communication__item-title">по телефону</div>
            <a href="tel:+78432126222" class="communication__item-tel"
              >+7 (843) 212-62-22</a
            >
          </div>
        </div>
        <div class="communication__item">
          <div class="communication__item-num">[2]</div>
          <div class="communication__item-body">
            <div class="communication__item-title">в мессенджерах</div>
            <div class="communication__social">
              <a href="#" target="_blank" class="btn-rect _white">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                </svg>
              </a>
              <a href="#" target="_blank" class="btn-rect _white">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-wh"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="communication__item">
          <div class="communication__item-num">[3]</div>
          <div class="communication__item-body">
            <div class="communication__item-title">или оставьте заявку</div>
            <button data-fancybox data-src="#modal-connect" class="btn-arrow">
              <span>Оставить заявку</span>
              <div>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
