<section class="s-service-intro sect-m-min-top">
  <div class="container">
    <h1 class="main-title">Демонтаж</h1>
    <div class="content">
      <p>
        На территории промышленных предприятий и строительных площадках, как
        правило, накапливается большое количество металлолома. Если это
        преимущественно громоздкие металлоконструкции, то демонтаж силами
        собственного персонала бывает затруднен. В таких случаях лучше
        обратиться в специализированную организацию — это быстрее, выгоднее и
        безопаснее.
      </p>
      <p>
        Наша компания предоставляет весь спектр услуг: от резки и извлечения
        металлолома до его транспортировки и приема. Мы работаем с объектами и
        сооружениями любой сложности.
      </p>
    </div>
  </div>
</section>
