.breadcrumbs {
  padding: 20px 0px;
  background-color: white;

  .aioseo-breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .aioseo-breadcrumb {
    display: block;
    width: fit-content;
    font-size: 16px;
    line-height: 140%;

    &:last-child {
      opacity: 0.5;
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--red);
      }

      &::after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 1px;
        background-color: var(--red);
      }
    }
  }
}
