.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
  outline: none;
}

.btn-arrow {
  display: flex;
  width: fit-content;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 600;
  line-height: 140%;

  &._black-rect {
    div {
      background-color: var(--black);
      color: white;
    }
  }

  @include hover {
    span {
      background-color: var(--thunder);
    }
    div {
      background-color: var(--red);
      color: white;
    }
  }

  span {
    display: block;
    text-align: center;
    padding: 20px 36px;
    background-color: var(--red);
    border-radius: 4px;
    flex: 1;
    color: white;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }

  div {
    @include flex-center;
    width: 65px;
    height: auto;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: white;
    color: black;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.button {
  @include flex-center;
  cursor: pointer;
  padding: 20px 32px;
  background-color: var(--black);
  border-radius: 4px;
  border: none;
  text-align: center;

  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  transition: background-color 0.2s ease;
  @include hover {
    background-color: var(--shaft);
  }
}

.btn-rect {
  @include flex-center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--black);
  color: white;
  transition: color .2s ease, background-color .2s ease;

  @include hover {
    background-color: var(--red);
  }

  &._red {
    background-color: var(--red);
    @include hover {
      background-color: var(--thunder);
    }
  }

  svg {
    width: 32px;
    height: 32px;
  }
}