.input {
  padding: 20px 28px;
  border-radius: 4px;
  background-color: var(--shaft);
  outline: none;
  border: none;
  width: 100%;

  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  color: white;

  &::placeholder {
    color: white;
  }

  &._white {
    background-color: white;
    color: var(--black);
    &::placeholder {
      color: var(--black);
    }
  }
}
textarea.input {
  resize: none;
}