.slider-nav {
  display: flex;
  gap: 20px;
  @include tablet {
    gap: 15px
  }
  @include tablet-min {
    display: none;
  }
}

.slider-btn {
  @include flex-center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--black);
  color: white;
  padding: 0;
  width: 60px;
  height: 60px;
  transition: opacity .2s ease;

  @include hover {
    opacity: 0.7;
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.7;
  }
  &._next {
    transform: rotate(180deg);
  }
  @include tablet {
    width: 48px;
    height: 48px;
  }

  svg {
    width: 22px;
    height: 22px;
    @include tablet {
      width: 18px;
      height: 18px;
    }
  }
}

.slider-scrollbar {
  background: rgba(0, 0, 0, 0.10);
  height: 1px;
  margin-top: 50px;
  @include tablet {
    margin-top: 30px;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      right: 0;
      left: 0;
      background-color: var(--black);
    }
  }
}