.communication {
  padding: 60px 70px;
  background-color: var(--black);
  color: white;
  @include laptop-min {
    padding: 40px 60px;
  }
  @include tablet-min {
    padding: 30px 20px;
  }
  &__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 500;
    line-height: 140%;
    margin: 0px 0px 30px 0px;

    @include laptop-min {
      font-size: 28px;
    }
    @include tablet {
      font-size: 24px;
    }
    @include tablet-min {
      padding-left: 35px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 25px;
      top: 0;
      left: -35px;
      background: url('@img/figure.svg') 0 0 / 100% auto no-repeat;
      @include tablet-min {
        left: 0;
      }
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    row-gap: 40px;
    @include laptop-min {
      gap: 40px;
    }
  }
  &__item {
    display: flex;
    align-items: start;
    width: fit-content;
    gap: 30px;
    @include laptop-min {
      gap: 20px;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid white;
      }
    }
  }
  &__item-num {
    font-size: 50px;
    line-height: 110%;
    letter-spacing: 5px;
    color: var(--red);
    @include laptop-min {
      font-size: 42px;
    }
    @include tablet {
      font-size: 34px;
    }
  }
  &__item-body {
  }
  &__item-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 16px;
  }
  &__item-tel {
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    transition: opacity .2s ease;
    @include hover {
      opacity: 0.5;
    }
    @include laptop-min {
      font-size: 26px;
    }
    @include tablet-min {
      font-size: 24px;
    }
  }
  &__social {
    display: flex;
    gap: 20px;

    .btn-rect {
      width: 65px !important;
      height: 65px !important;
      @include laptop-min {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}
